html {
  font-size: 12px;
}
.resume-sample-templates {
  width: 100%;
  min-height: 100vh;
  /* background-color: greenyellow; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.resume-templates-wrapper {
  margin: 1rem;
}

.resume-templates-wrapper {
  position: relative;
  height: 20.938rem;
  width: 14.938rem;
  overflow: hidden;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.resume-templates-wrapper .template {
  scale: 0.3;
  position: absolute;
  top: -50%;
  left: -50%;
  transform: translate(-66%, -66.7%);
}
